
@{
    ViewData["Title"] = "Contacts";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/fontawesome/css/all.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ASPNETCore_DB.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

   
</head>
<body>
<section class="section" id="contact">
    <div class="top-header">
        <h1>Let's Work Together</h1>
        <span>Do you have a project in your mind, hit me up</span>
    </div>
    <div class="row">
        <div class="column">
            <div class="contact-info">
                <h2>Find Me<i class="uil uil-corner-right-down"></i></h2>
                    <p><i class="fa-solid fa-envelope"></i>Email: Jobe970@gmail.com</p>
                <p><i class="fa-solid fa-phone"></i>Phone: 071 0233 276</p>
            </div>
        </div>
        <div class="column">
            <div class="form-control">
                <div class="form-inputs">
                    <input type="text" class="input-field" placeholder="Your Name">
                    <input type="text" class="input-field" placeholder="Your Email">
                </div>
                <div class="text-area">
                    <input type="text" class="input-subject" placeholder="Subject">
                    <textarea class="text-area-field" placeholder="Message"></textarea>
                </div>
                <div class="form-button">
                    <button class="btn">
                        Send<i class="uil uil-message"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
</body>

</html>


